# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Database (DO NOT upload real data)
*.db

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
